////////////////////////////////
// Add a mixin called "circle"//
////////////////////////////////
@mixin circle{
  display: inline-block;
  border-radius: 50%;
  margin-left: 10px;
  text-align: center;
  background-color: #888888;
}


.main {
  margin: 20px 10px;
  color: #ffffff;
  
  .small {
    // Use the circle mixin here
    @include circle;
    width: 34px;
    height: 34px;
  }
  
  .medium {
    // Use the circle mixin here
    @include circle;
    
    width: 62px;
    height: 62px;
  }
  
  .large {
    // Use the circle mixin here
    @include circle;
    
    width: 90px;
    height: 90px;
  }
}

//////////////////////////////////
///// Add a $color argument  /////
////////////////////////////////// 

@mixin circle($color) {
  display: inline-block;
  border-radius: 50%;
  margin-left: 10px;
  text-align: center;
  // Use the $color argument to change the background color
  background-color: $color;
}

.main {
  margin: 20px 10px;
  color: #ffffff;
  
  .small {
    // Add the value #20efae as an argument
    @include circle(#20efae);
    width: 34px;
    height: 34px;
  }
  
  .medium {
    // Add the value #61cbff as an argument
    @include circle(#61cbff);
    width: 62px;
    height: 62px;
  }
  
  .large {
    // Add the value #a070f7 as an argument
    @include circle(#a070f7);
    width: 90px;
    height: 90px;
  }
}


/////////////////////////////
/////      Import      //////
/////////////////////////////

@import "variables";

main{

 .twitter {
    // Use the $twitter variable to set the background color
    background-color: $twitter;
    
  }
  
  .facebook {
    // Use the $facebook variable to set the background color
    background-color: $facebook;
    
  }
  
  .fa {
    line-height: 64px;
  }
}

 _varibles.scss

// File name

// Assign the value #1dcaff to the $twitter variable
$twitter: #1dcaff;

// Assign the value #405f9e to the $facebook variable
$facebook: #405f9e;
